@import "tailwindcss";

:root {
  --olive: #4a5240;
  --olive-dark: #2e3328;
  --khaki: #c8b96e;
  --khaki-light: #e8d99e;
  --cream: #f5f0e8;
  --paper: #faf8f4;
  --border: #b0a882;
  --red: #8b2020;
}

@theme {
    --color-olive: var(--olive);
}

.input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #b0a882;
  background: white;
  padding: 10px 12px;
  font-size: 14px;
}

.input:focus {
  outline: 2px solid #c8b96e;
  border-color: #c8b96e;
}